@tailwind base;
@tailwind components;
@tailwind utilities;

/* ProgressBarCircle.css */

.progress-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.progress-ring {
  width: 100px;
  height: 100px;
  fill: transparent;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
}

.progress-ring-circle {
  fill: transparent;
  stroke: #ccc;
  stroke-width: 8;
}

.animate-grow {
  animation: grow 0.5s ease-out forwards;
}

@keyframes grow {
  0% {
    stroke-dashoffset: 251;
  }
  100% {
    stroke-dashoffset: 0;
  }
}



@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-fade-in-out {
  animation: fade-in-out 1.2s linear infinite;
}

@keyframes cursor-shrink-grow {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}

.animate-cursor-shrink-grow {
  transform-origin: center;
  animation: cursor-shrink-grow 1s ease-in-out infinite;
}